<!-- select.component.html -->
<div class="select-container">
  <label [class.active]="selectedValue">{{ label }}</label>
  <div [ngStyle]="customStyles" class="select-dropdown" [class.disabled]="disabled" (click)="!disabled && (isOpen = !isOpen)">
    <div class="selected-value">{{ getSelectedDescription() }}</div>
    <div class="arrow-down" [ngClass]="{'icon-rotate': isOpen}">
      <img src="assets/icones/seta-bottom.svg" alt="Arrow down">
    </div>
  </div>

  <div class="options-container" *ngIf="isOpen && !disabled">
    <div class="option"
        *ngIf="showDefaultOption"
        (click)="onSelectDefault()"
        [class.selected]="selectedValue === defaultValue">
      {{ defaultLabel }}
    </div>
    <div class="option"
         *ngFor="let option of options"
         (click)="onSelect(option)"
         [class.selected]="option.value === selectedValue"
         [attr.data-value]="option.value">
      {{ option.description }}
    </div>
  </div>
</div>