<div class="main-container">
    <div class="banner">
        <h1>Meus imóveis</h1>
        <p>Um espaço onde você pode administrar todos os seus imóveis.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight"> Meus imóveis</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <!-- <app-search (searchChange)="onSearch($event)"></app-search> -->
            </div>
            <button class="btn-cadastrar" (click)="cadastrarImovel()">Cadastrar Imóvel</button>
        </div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Tipo</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imovel of imoveisPaginados">
                    <td>
                        <div class="perfil">
                            <span>{{ imovel.titulo || '-' }}</span>
                        </div>
                    </td>
                    <td>{{ imovel.endereco.rua }}, {{ imovel.endereco.numero }} - {{ imovel.endereco.bairro }}, {{ imovel.endereco.cidade }} - {{ imovel.endereco.estado }}, {{ imovel.endereco.cep }}</td>
                    <td>
                        {{ imovel.tipo || '-' }}
                    </td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao visualizar" (click)="visualizarImovel(imovel.id)">
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit" (click)="editarImovel(imovel.id)">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete" (click)="openModalDeletar(imovel)">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 
    <div *ngIf="imoveisPaginados.length === 0">
        <ng-container *ngIf="mensagemBusca; else semImoveis">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semImoveis>
            <div class="no-data-message">
            <img src="assets/imagens/empty/no-data.svg" alt="Sem dados">
            <p>Não há imóveis cadastrados.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>  
</div>